@import url(./normalize.css);

:root {
  /* Primary */

  --primary-pink: hsl(322, 100%, 66%);

  /* Neutral */
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  /* Fonts */

  --font-poppins: "Poppins", sans-serif;
  --font-sans: "Open Sans", sans-serif;

  /* margin */

  --margin-small: 1.5rem 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero Section */

body {
  font-size: 15px;
}
.hero-section {
  background: url(../images/bg-hero-mobile.svg);
}

.hero-image-hero-button {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0;
}

.img-thumbnail {
  width: 8rem;
}
a {
  text-decoration: none;
}
.img-thumbnail {
  border: none;
}
.hero-button {
  background-color: rgb(255, 255, 255);
  color: var(--very-dark-cyan);
  border-radius: 50px;
  padding: 0 1.5rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.hero-info {
  display: flex;
  flex-direction: column;
}

.title-hero-info {
  font-family: var(--font-poppins);

  font-weight: 600;
}

.description-info {
  font-family: var(--font-sans);
  font-weight: 600;
}

.hero-button-info {
  background: var(--primary-pink);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: var(--font-sans);
  font-weight: 400;
}

/* Grow Container */

.main-container {
  margin-top: 5rem;
}
.card-container-title {
  font-family: var(--font-poppins);
  font-weight: 600;
}

.card-container-description {
  font-family: var(--font-sans);
}

/* Footer Section */

.footer-section {
  background: var(--very-dark-cyan);
  display: flex;
  margin-top: 70%;
}

.footer-image {
  width: 50%;
  color: white;
  margin: 3rem 0 1rem 1rem;
}

.footer-info {
  display: flex;
}

.footer-img {
  width: 1rem;
  height: 1rem;
  margin: 2rem 0 2rem 2rem;
}

.footer-img-description {
  color: var(--very-pale-cyan);
  width: 50%;
  padding: 1rem 0 0 1rem;
  font-family: var(--font-sans);
}

.phone-number {
  font-family: var(--font-sans);
  color: var(--very-pale-cyan);
  padding: 1.5rem 0 0 1rem;
  margin: 0;
}

.email-img {
  width: 1rem;
  height: 1rem;
  margin: 0 1rem 0 2rem;
}
.email {
  font-family: var(--font-sans);
  color: var(--very-pale-cyan);
}

ul li {
  list-style-type: none;
}

li a {
  margin-top: 2rem;
  color: var(--very-pale-cyan);
  font-family: var(--font-sans);
}

.item {
  padding: 0.5rem 0;
  font-weight: 600;
}

.connect-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.copyright {
  color: var(--very-pale-cyan);
}

h3 {
  font-family: var(--font-poppins);
}
@media screen and (min-width: 100px) and (max-width: 539px) {
  .title-hero-info {
    padding: 0 1.3rem;
  }
  .description-info {
    padding: 0 2.6rem 1rem;
    font-family: var(--font-sans);
    font-weight: 600;
  }

  .footer-section {
    flex-direction: column;
  }

  .hero-information {
    text-align: center;
  }
  .hero-button-info {
    width: 70%;
    padding: 1rem;
  }
  .hero-info {
    margin: auto;
    width: auto;
    padding: 4rem 2rem;
  }
  .menu {
    margin: 0;
  }
}

@media screen and (min-width: 540px) and (max-width: 1023px) {
  .footer-section {
    margin-top: 10%;
  }
  .hero-section {
    background: url(../images/bg-hero-desktop.svg);
  }

  .hero-image-hero-button {
    margin: 0 3rem;
  }
  .hero-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
  }
  .hero-info-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
  }
  .title-hero-info {
    width: auto;
  }
  .hero-button-info {
    width: 100%;
    margin: 0 0 1rem;
    padding: 1rem;
  }
  .description-info {
    text-align: left;
  }
  .hero-info {
    width: 40%;
    margin-top: 5rem;
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-container {
    margin: 0;
  }
  .footer-image {
    width: 20%;
    margin: 10% 0 0 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero-section {
    background: url(../images/bg-hero-desktop.svg);
  }

  .hero-image-hero-button {
    margin: 0 3rem;
  }
  .hero-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem;
  }
  .hero-info-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 40%;
  }
  .title-hero-info {
    width: auto;
  }
  .hero-button-info {
    width: 50%;
    margin: 0 0 1rem;
    padding: 1rem;
  }
  .description-info {
    text-align: left;
  }
  .hero-info {
    width: 30%;
    margin-top: 5rem;
  }

  .card-container {
    align-items: center;
    display: flex;
    padding: 0 5rem;
  }
  .main-image {
    width: 20%;
  }
  .grow-container-description {
    width: 50%;
  }
  .flowing-conversation {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: center;
  }

  .card-container-description {
    width: 50%;
  }

  /* Footer */

  .footer-section {
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
  }
  .footer-image {
    width: 20%;
    margin: 10% 0 0 2rem;
  }
  .connect-container {
    margin-top: 3%;
  }
  .menu {
    margin: 5% 0 0 2rem;
  }
  .footer-container {
    display: flex;

    margin: 0 3rem;
  }
  .copyright {
    margin-top: 10rem;
  }
}
