@import url(./normalize.css);

:root {
  /* Primary */

  --primary-pink: hsl(322, 100%, 66%);

  /* Neutral */
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);

  /* Fonts */

  --font-poppins: "Poppins", sans-serif;
  --font-sans: "Open Sans", sans-serif;

  /* margin */

  --margin-small: 1.5rem 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero Section */

.hero-section {
  background: url(../images/bg-hero-mobile.svg);
}

.hero-image-hero-button {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 0;
}

.img-thumbnail {
  width: 8rem;
}
a {
  text-decoration: none;
}
.img-thumbnail {
  border: none;
}
.hero-button {
  background-color: rgb(255, 255, 255);
  color: var(--very-dark-cyan);
  border-radius: 50px;
  padding: 0 1.5rem;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.hero-info {
  display: flex;
  flex-direction: column;
}
.description-info {
  padding: 0 2.6rem 1rem;
}
.hero-button-info {
  background: var(--primary-pink);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: var(--font-sans);
}
